body {
    margin: 0;
}

.register-container {
    background-color: rgb(30, 31, 37);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .register-wrapper {
        border: 1px solid rgb(89, 94, 110);
        padding: 30px 50px;
        border-radius: 10px;
        display: flex;
        width: 300px;
        gap: 10px;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: rgb(42, 44, 53);

        .title {
            font-weight: bold;
            font-size: 24px;
        }

        .sub-title {
            font-size: 16px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 250px;

            input {
                padding: 5px;
                border: none;
                border-bottom: 1px solid rgb(89, 94, 110);
                background-color: rgb(42, 44, 53);
                color: white;

                &::placeholder {
                    color: rgb(128, 128, 128);
                }
            }

            button {
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: rgb(55, 141, 62);
                color: white;
                font-weight: bold;
                transition-duration: 0.125s;


                &:hover {
                    background-color: rgb(71, 182, 81);
                }
            }

            .anon-signin {
                background-color: rgb(72, 80, 109);

                &:hover {
                    background-color: rgb(90, 100, 138);
                }
            }

            p {
                text-align: center;
            }
        }

        .signin-instead {
            font-size: 14px;
            color: rgb(78, 115, 185);
            text-decoration: none;
            transition-duration: 0.1s;

            &:hover {
                color: rgb(107, 159, 255);
            }
        }
    }
}

.navbar-container {
    height: 40px;
    width: 100%;
    background-color: rgb(39, 40, 48);
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .navbar {
        height: 100%;

        .logo {
            position: absolute;
            font-size: 18px;
            font-weight: bold;
            color: white;
            top: 7px;
            left: 10px;

            i {
                display: inline-block;
                position: absolute;
                font-size: 18px;
                top: 3px;
            }
        }

        .logout {
            color: white;
            font-size: 14px;
            background-color: rgb(70, 71, 85);
            
            transition-duration: 0.1s;
            border: 1px solid rgb(88, 90, 107);
            
            
            height: 30px;
            float: right;
            margin: 5px;

            &:hover {
                background-color: rgb(94, 96, 114);
                
            }

            &:active {
                background-color: rgb(46, 47, 56);
                
            }
        }

        .user {
            color: white;
            height: 100%;
            float: right;
            padding-top: 8px;
            padding-right: 20px;
        }
    }
}

.main-container {
    height: calc(100vh - 40px);
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .main-wrapper {
        background-color: rgb(61, 63, 75);
        height: 100%;
        width: 100vw;
        display: flex;

        .dialog-container {
            position: absolute;
            display: flex;
            margin: auto;
            max-height: 50%;
            top: 20%;
            left: 30%;
            right: 30%;
            padding: 10px;
            background-color: rgb(39, 40, 48);
            border-radius: 5px;
            justify-content: center;
            
            .dialog-wrapper {
                text-align: center;
                flex-direction: column;
                
                width: 100%;
                display: flex;
                color: white;
                gap: 10px;
                h2 {
                    height: 30px;
                    margin: 0;
                }
                h3 {
                    margin: 0;
                }
                button {
                    background-color: rgb(78, 81, 95);
                    color: white;
                    outline-style: none;
                    border: none;
                    border-radius: 5px;
                    min-height: 40px;
                    &::placeholder {
                        color: rgb(144, 148, 173);
                    }
                }

                .agent-list {
                    overflow-y: auto;
                    border: 1px solid rgb(78, 81, 95);
                    
                    .agent-items {
                        width: 100%;
                        text-align: left;
                        overflow-y: auto;
                        background-color: rgba(106, 110, 129, 0.125);
                        border-style: none;
                        option {
                            padding: 8px;
                            transition-duration: 0.1s;
                            color: white;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-weight: bold;
                            font-size: 14px;
                            
                            &:hover {
                                background-color: rgb(78, 81, 95);
                            }

                            &:checked {
                                background-color: rgb(106, 108, 119);
                            }
                        }
                    }
                }
                
                p {
                    text-align: left;
                    padding-left: 10px;
                    margin: 0;
                    word-break: break-all;
                }

                .transfer-button {
                    transition-duration: 0.1s;
                    &:hover {
                        background-color: rgb(94, 97, 114);
                    }
                    &:active {
                        background-color: rgb(54, 57, 66);
                    }
                    &:disabled {
                        background-color: rgb(28, 29, 34);
                        color: #525252;
                    }
                }
                .cancel-button {
                    transition-duration: 0.1s;
                    background-color: rgb(117, 53, 53);
                    &:hover {
                        background-color: rgb(150, 68, 68);
                    }
                    &:active {
                        background-color: rgb(92, 41, 41);
                    }
                }
            }
        }

        .sidebar {
            width: 300px;
            background-color: rgb(54, 55, 68);

            ::-webkit-scrollbar {
                width: 5px;
            }

            ::-webkit-scrollbar-thumb {
                background: #525252;
                border-radius: 2px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #7c7c7c;
            }

            .title-container {
                display: block;
                padding: 10px;

                span {
                    display: block;
                    text-align: left;
                    padding: 5px 5px 5px 10px;
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                    background-color: rgb(39, 40, 48);
                    border-radius: 5px;

                    i {
                        font-size: 18px;
                        float: right;
                        padding: 2px 5px 0px 0px;
                        color: rgb(111, 109, 114);
                        transition-duration: 0.1s;
                        cursor: pointer;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }

            .chats-container {
                width: 100%;
                height: calc(100% - 54px);

                .chats-wrapper {
                    width: calc(100% - 20px);
                    height: calc(100% - 10px);
                    position: relative;
                    left: 10px;
                    border-radius: 5px;
                    overflow: auto;
                    background-color: rgb(39, 40, 48);

                    .chats {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .user-chat {
                            margin-top: 5px;
                            width: calc(100% - 10px);
                            border-radius: 5px;
                            background-color: rgb(61, 63, 75);
                            padding-bottom: 5px;
                            transition-duration: 0.075s;
                            &:hover {
                                background-color: rgb(83, 85, 102);
                                cursor: pointer;
                            }

                            .picture {
                                float: left;
                                display: flex;

                                img {
                                    margin-top: 4px;
                                    margin-left: 5px;
                                    display: inline-block;
                                }
                            }

                            .name {
                                
                                display: flex;
                                flex-direction: column;
                                overflow-wrap: break-word;

                                .username {
                                    font-family: Arial, Helvetica, sans-serif;
                                    position: relative;
                                    display: inline-block;
                                    top: 5px;
                                    left: 10px;
                                    padding-bottom: 5px;
                                    width: 90%;
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: rgb(255, 255, 255);
                                    
                                }
                            }

                            .transfer-button, .endChat-button {
                                height: 25px;
                                width: calc(100% - 20px);
                                display: inline-block;
                                margin-top: 10px;
                                margin-left: 10px;
                                background-color: rgb(39, 40, 48);
                                border: 1px solid rgb(68, 70, 85);
                                border-radius: 5px;
                                color: white;
                                transition-duration: 0.1s;
                                &:hover {
                                    background-color: rgb(54, 56, 66);
                                }
                            }

                            .endChat-button {
                                background-color: rgb(131, 64, 64);
                                &:hover {
                                    background-color: rgb(184, 109, 109);
                                }
                                &:active {
                                    background-color: rgb(95, 46, 46);
                                }
                            }
                        }
                    }
                }
            }
        }

        .chatbox-container {
            flex: 2;

            ::-webkit-scrollbar {
                width: 8px;
            }

            ::-webkit-scrollbar-thumb {
                background: #7c7c7c;
                border-radius: 4px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #a1a1a1;
            }

            .chatbox-title {
                display: flex;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(54, 55, 68);
                padding: 15px 10px 15px 20px;
                color: white;
            }

            .scroll-wrapper {
                overflow:auto; 
                flex-direction:column-reverse;
                height: calc(100% - 125px);
                padding: 0px 10px 10px 10px;

                .message-wrapper {
    
                    .message {
                        padding-top: 10px;
    
                        .user-info {
                            border-radius: 10px 10px 0px 0px;
                            background: none;
                            position: relative;
                            padding: 5px 0px 0px 10px;
                            width: calc(100% - 10px);
    
                            .name {
                                position: absolute;
                                top: 10px;
                                left: 70px;
                                font-size: 16px;
                                font-weight: bold;
                                color: white;
                            }
    
                            .timestamp {
                                position: absolute;
                                top: 30px;
                                left: 70px;
                                font-size: 14px;
                                color: rgb(131, 131, 131);
                            }
                        }
    
                        .content {
                            display: block;
                            height: 100%;
                            padding: 10px;
                            border-bottom: 1px solid rgb(88, 90, 100);
                            background-color: none;
                            color: lightgray;
    
                            a {
                                color: rgb(52, 141, 214);
                            }
                        }
                    }
                }
            }

            .upload-bar {
                padding: 0px 88px 5px 10px;
            }

            .chatbox-input {

                display: flex;
                margin: 0px 10px 0px 10px;
                background-color: rgba(0, 0, 0, 0);

                height: 42px;
                align-items: center;
                justify-content: space-between;

                input {
                    width: calc(100% - 60px);
                    height: 100%;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    font-size: 14px;
                    padding-left: 10px;
                    background-color: rgb(78, 81, 95);
                    color: white;
                    transition-duration: 0.1s;
                    
                    &::placeholder {
                        color: rgb(128, 132, 156);
                    }
                    &:disabled {
                        background-color: rgb(44, 46, 54);
                        &::placeholder {
                            color: rgb(35, 36, 43);
                        }
                    }
                }

                button {
                    border: none;
                    background-color: rgb(61, 63, 75);
                    
                    transition-duration: 0.125s;
                    font-size: 24px;
                    padding-top: 6px;
                    padding-right: 5px;
                    padding-left: 10px;
                    color: rgb(81, 101, 163);

                    &:hover {
                        color: rgb(107, 134, 214);
                    }

                    &:active {
                        color: rgb(93, 117, 187);
                    }
                    &:disabled {
                        color: rgb(38, 48, 77);
                    }
                }
            }
        }
    }
}